<!-- Estrutura para InstaFeed -->
<article class="container-center instafeed"></article>

<article class="newsletter">
    <div class="newsletter__wrapper">
        <h3 class="newsletter__titulo">/<b>Cadastre-se</b> e receba nossas <b>novidades e ofertas exclusivas</b> por
            e-mail: </h3>
    </div>
    <div class="newsletter__wrapper">
        <form class="newsletter__form">
            <input class="newsletter__input" type="text" placeholder="DIGITE SEU E-MAIL" />
            <div class="newsletter__btn"> Cadastrar </div>
        </form>
    </div>
</article>

<article class="container seo-footer">
    <section class="seo-footer__text">
        <vtex.cmc:juliana-ferreiraseoHome />
    </section>
</article>

<footer>

    <!-- Estrutura footer -->
    <article>
        <article class="footer__informacoes">
            <h1 class="footer__informacoes-title">LOREM IPSUM IS SIMPL</h1>
            <h2 class="footer__informacoes-subtitle">Loren ipsum is simply dummy typesetting industry</h2>
            <p>Loren Ipsum has been the industry´s stardard dummy text ever since the 1500s, when an unknown printer look a galey
                 of type and scrambield it to make a type specimen book.
            </p>
        </article>
        <article class="footer__adendo">
            <section class="footer__adendo-logo">
                <img src="/arquivos/juliana-ferreira-logo-eplus.png" alt="" />
            </section>
            <section class="footer__adendo-text">
                <p>Loren Ipsum has been the industry´s stardard dummy text ever since the 1500s when an unknown.</p>
            </section>
        </article>
        <article class="footer__sobre">
            <section class="footer__sobre-contato">
                <p>Razão Social: Agência e-Plus ltda | CNPJ - <br/>
                    18.106.304/0001-01 | Endereço: Borges Lagoa, 564, 13 <br/>
                    andar CEP: 04038-000 | Vila Mariana -  São Paulo <br/>
                </p>
                <p>Horário de atendimento da loja: 09h00 as 18h00</p>
            </section>
            <section class="footer__sobre-eplus">
                <div class="footer__sobre-politica">
                    <h2>e-Plus</h2>
                    <ul>
                        <li><a href="#quem-somos"><span>> </span> Quem Somos</a></li>
                        <li><a href="#politica-privacidade"><span>> </span> Política de Privacidade</a></li>
                    </ul>
                </div>
                <div class="footer__sobre-rede-social">
                    <h2>Junte-se à nós</h2>
                    <div class="footer__sobre-social">
                        <div class="footer__sobre-social-icon">
                            <a href="#intagram"><img src="/arquivos/juliana-ferreira-instagram.svg" alt="" /></a>
                        </div>
                        <div class="footer__sobre-social-icon">
                            <a href="#facebook"><img src="/arquivos/juliana-ferreira-facebook.svg" alt="" /></a>
                        </div>
                        <div class="footer__sobre-social-icon">
                            <a href="#youtube"><img src="/arquivos/juliana-ferreira-youtube.svg" alt="" /></a>
                        </div>
                    </div>
                </div>
            </section>
            <section class="footer__duvidas">
                <h2>Dúvidas</h2>
                <ul>
                    <li><a href="#minha-conta"><span>> </span> Minha Conta</a></li>
                    <li><a href="meus-pedidos"><span>> </span> Meus Pedidos</a></li>
                    <li><a href="fale-conosco"><span>> </span> Fale Conosco</a></li>
                </ul>
            </section>
            <section class="footer__seguranca">
                <h2>Segurança</h2>
                <div class="footer__seguranca-web">
                    <div class="footer__seguranca-vtex"><img src="/arquivos/juliana-ferreira-vtex-pci-100-2.png" alt="" /></div>
                    <div class="footer__seguranca-lets"><img src="/arquivos/juliana-ferreira-logo-lets-encrypt.svg" alt="" /></div>
                </div>
            </section>
        </article>
        <article class="footer__bandeiras">
            <section class="footer__bandeiras-info">
                <p>Todos os direitos reservados. Loja de testes. As informações não podem podem ser reproduzidas total ou parcialmente
                    sem autorização prévia.
                </p>
            </section>
            <section class="footer__bandeiras-cartoes">
                <div class="footer__bandeiras-icon"><img src="/arquivos/juliana-ferreira-tc-pgto-visa.png" alt="" /></div>
                <div class="footer__bandeiras-icon"><img src="/arquivos/juliana-ferreira-tc-pgto-master-card.png" alt="" /></div>
                <div class="footer__bandeiras-icon"><img src="/arquivos/juliana-ferreira-tc-pgto-dinners-club.png" alt="" /></div>
                <div class="footer__bandeiras-icon"><img src="/arquivos/juliana-ferreira-tc-pgto-aura.png" alt="" /></div>
                <div class="footer__bandeiras-icon"><img src="/arquivos/juliana-ferreira-tc-pgto-hipercard.png" alt="" /></div>
                <div class="footer__bandeiras-icon"><img src="/arquivos/juliana-ferreira-tc-pgto-american-express.png" alt="" /></div>
                <div class="footer__bandeiras-icon"><img src="/arquivos/juliana-ferreira-tc-pgto-elo.png" alt="" /></div>
                <div class="footer__bandeiras-icon"><img src="/arquivos/juliana-ferreira-tc-pgto-boleto.png" alt="" /></div>
            </section>
        </article>
        <article class="footer__copyright">
            <div class="footer__copyright-eplus"><img src="/arquivos/juliana-ferreira-logo-agencia-eplus.svg" alt="" /></div>
            <div class="footer__copyright-vtex"><img src="/arquivos/juliana-ferreira-logo-vtex.svg" alt="" /></div>
        </article>
    </article>

</footer>