<header class="container container-center">
    <article class="header__top-bar">
        <section class="header__contact">
             <p class="header__contact-item">Atendimento ao cliente: <b><vtex.cmc:JulianaFerreiraINFOPhone /></b></p> 
             <p class="header__contact-item">Watsapp: <b><vtex.cmc:JulianaFerreiraINFOWhatsapp /></b></p>  
        </section>
        <section class="header__pedidos">
            <i class="fas fa-bars"></i>
            <a href="">Meus <b>Pedidos</b></a>
        </section>
    </article>
    <article class="header__center">
        <section class="header__center-logo">
            <img src="/arquivos/juliana-ferreira-logo-eplus.png" alt="" />
        </section>
        <section class="header__center-search">
            <input id="header__search-input" type="text" class="header__center-search-input" placeholder="Digite Aqui" />
            <div><a class="header__center-search-icon"><vtex.cmc:JulianaFerreiraSVGLupa /></a></div>
        </section>
        <section class="header__center-login">
            <div class="header__center-login-icon"><vtex.cmc:JulianaFerreiraSVGLogin /></div>
            <p><a href=""><b>Login/Cadastre-se</b></a></p>
        </section>
        <section class="header__center-carrinho">
            <div class="header__center-carrinho-icon"><vtex.cmc:JulianaFerreiraSVGCarrinho /></div>
            <p><a href="">1 Item(S)</a></p>
        </section>
    </article>
    <article class="header__navbar">
        <ul>
            <li class="header__navbar-item"><a href="">TEST CATEGORY</a></li>
            <li class="header__navbar-item"><a href="">DESENVOLVIMENTO</a></li>
            <li class="header__navbar-item"><a href="">IMPLANTAÇÃO</a></li>
            <li class="header__navbar-item"><a href="">DESIGN</a></li>
            <li class="header__navbar-item"><a href="">MARKETING</a></li>
            <li class="header__navbar-item"><a href="">SUPORTE</a></li>
        </ul>
    </article>
</header>